* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --family-public-sans: "Public Sans", sans-serif;
    --family-poppins: "Poppins", sans-serif;
    --primary-color: #152427;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--family-poppins);
}
